* text=auto

# Common file types
*.sh text eol=lf
*.yaml text
*.yml text
*.json text
*.md text
*.ts text
*.lock text
*.json text
*.yaml.example text
Dockerfile text
.gitignore text
.gitattributes text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary

